/* color palette from <https://github.com/vuejs/theme> */

:root {
  --swiper-navigation-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  background: transparent;
}
